@import '../../../styles/variables.scss';

// Navbar principal
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 10px 30px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .nav-left {
    display: flex;

    .nav-link {
      margin-right: 30%;
      margin-left: 10%;
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: lighten($primary-color, 20%); // cambio de color en hover
      }
    }
  }

  .nav-right {
    .logout-btn {
      display: flex;
      align-items: center;
      gap: 8px; // espacio entre ícono y texto
      background-color: $secondary-color; // color más amigable y contrastante
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      color: white;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s;

      mat-icon {
        font-size: 18px;
      }

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}
